[submodule "external/ramtools"]
	path = external/ramtools
	url = https://github.com/chongchonghe/ramtools.git
[submodule "external/RAMSKI_test"]
	path = external/RAMSKI_test
	url = https://github.com/jwpark5064/Ramses_Wearing_Skirt.git
	branch = SF_old
