[submodule "external/RAMSKI_test"]
	path = external/RAMSKI_test
	url = https://github.com/jwpark5064/RAMSKI_test.git
[submodule "external/ramtools"]
	path = external/ramtools
	url = https://github.com/chongchonghe/ramtools.git
